name: CI Pipeline - Build, Test & Trigger Jenkins

on:
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2️⃣ Setup Maven
      - name: Setup Maven Action
        uses: s4u/setup-maven-action@1.7.0
        with:
          checkout-fetch-depth: 0
          java-version: 21
          java-distribution: temurin
          maven-version: 3.9.8

      # 3️⃣ Run Maven Tests
      - name: Test with Maven
        run: mvn -B test --file pom.xml

      # 4️⃣ Connect to Lab and Trigger Jenkins Job
      - name: Connect to Lab and Trigger Jenkins Job
        uses: cross-the-world/ssh-scp-ssh-pipelines@latest
        with:
          host: ${{ secrets.LAB_HOSTNAME }}
          user: ${{ secrets.LAB_USERNAME }}
          pass: ${{ secrets.LAB_PASSWORD }}
          port: ${{ secrets.LAB_PORT }}
          connect_timeout: 10s
          env:
            JENKINS_USER: ${{ secrets.JENKINS_USER }}
            JENKINS_TOKEN: ${{ secrets.JENKINS_TOKEN }}
            REMOTE_BUILD_TOKEN: ${{ secrets.REMOTE_BUILD_TOKEN }}
          first_ssh: |
            curl -X POST -u $JENKINS_USER:$JENKINS_TOKEN \
              http://localhost:8080/job/insuredassurance/build?token=$REMOTE_BUILD_TOKEN
