name: Build and Trigger Jenkins

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Java and Maven
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Run Maven test
        run: mvn -B test --file pom.xml

      - name: Trigger Jenkins over SSH
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.LAB_HOSTNAME }}
          username: ${{ secrets.LAB_USERNAME }}
          key: ${{ secrets.LAB_SSH_KEY }}
          port: ${{ secrets.LAB_PORT }}
          script: |
            curl -X POST \
                 -u ${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_TOKEN }} \
                 "http://localhost:8080/job/InsuredAssurance/build?token=${{ secrets.REMOTE_BUILD_TOKEN }}"
